<!DOCTYPE html>
{{#if resume.meta.language}}
    <html lang="{{resume.meta.language}}">
{{else}}
    <html>
{{/if}}

  <head>
    {{#if resume.basics.name}}
        <title>{{resume.basics.name}} - CV</title>
        <meta property="og:site_name" content="{{resume.basics.name}}">
    {{else}}
        <title>CV</title>
    {{/if}}

    {{#if resume.basics.summary}}
        <meta name="description" content="{{resume.basics.summary}}">
        <meta property="og:description" content="{{resume.basics.summary}}">
    {{/if}}

    {{#if resume.basics.label}}
        <meta property="og:title" content="{{resume.basics.label}}">
    {{/if}}

    {{#if resume.basics.image}}
        <meta property="og:image" content="{{resume.basics.image}}">
        <link rel="icon" href="{{resume.basics.image}}">
    {{#if resume.basics.name}}
        <meta property="og:image:alt" content="Avatar of {{resume.basics.name}}.">
    {{/if}}
    {{/if}}

    {{#if resume.custom.xTwitterHandle}}
        <meta name="twitter:site" content="{{resume.custom.xTwitterHandle}}">
    {{/if}}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="twitter:card" content="summary">
    <meta property="og:type" content="website">

    <style>{{{css}}}</style>
  </head>
  <body>

  {{#resume.basics}}
  <header>
  <div class="container">
    <div id="header" class="split">
      <div class="image">
        <img src="{{image}}" width=100px />
      </div>
      <div class="main"  style="padding-left: 20px; padding-top: 15px">
        <h1>{{name}}</h1>
        {{#if label}}
            <h2>{{label}}</h2>
        {{/if}}
	          <div class="split">
    {{#if website}}
        <div class="website">
          <a target="_new" href="{{website}}">{{{link website}}}</a>
        </div>
    {{/if}}
    {{#if email}}
        <div class="email">
          <a target="_new" href="mailto:{{email}}">{{email}}</a>
        </div>
    {{/if}}
    {{#if phone}}
        <div class="phone">
          <a target="_new" href="tel:{{phone}}">{{phone}}</a>
        </div>
    {{/if}}
    </div>

      </div>  
    </div>  
  </div>
  </header>

  <div id="content" class="container">
  <section id="basics">
    {{#if summary}}
    <div class="summary">
      <h3>About</h3>
      <p>{{{markdown summary}}}</p>
    </div>
    {{/if}}
    {{#if profiles.length}}
    <div id="profiles" class="split">
      {{#each profiles}}
      <div class="item">
        {{#if network}}
        <strong class="network">
          {{network}}
        </strong>
        {{/if}}
        <div class="username">
          {{#if url}}
          <a target="_new" href="{{url}}">
            {{#if username}}
              {{username}}
            {{else}}
              {{url}}
            {{/if}}
          </a>
          {{else}}
          {{username}}
          {{/if}}
        </div>
      </div>
      {{/each}}
      </div>
    </section>
    {{/if}}
  {{/resume.basics}}
	

  {{#if resume.tooling.items.length}}
  <section id="tooling">
    <h2>Expertise</h2>
      {{#if resume.tooling.summary }}
      <div class="summary">
        <p>{{resume.tooling.summary}}</p>
      </div>
      {{/if}}
      <div class="split">
      {{#each resume.tooling.items}}
         <div class="category3">
	       <h3>{{category}}</h3>
        {{#if entry.length}}
      	<ul class="item">
        {{#each entry}}
	<li>{{{markdown . }}}</li>
        {{/each}}
      	</ul>
      	{{/if}}
      </div>
      {{/each}}
      </div>
  </section>
  {{/if}}




  {{#if resume.work.length}}
  <section id="work">
    <h2>Work Experience</h2>
    {{#each resume.work}}
    {{#if recent }}
    <div class="split">
        {{#if logo}}
          <div class="logo">
            <img src="{{logo}}" width=200px />
          </div>
          {{/if}}

        <div class="item">
          {{#if name}}
          <h3 class="work_name">
            {{name}}
          </h3>
          {{else if company}}
          <h3 class="work_name">
            {{company}}
          </h3>
          {{/if}}

          {{#if position}}
          <div class="work_position">
            {{position}}
          </div>
          {{/if}}

          <div class="work_date">
            {{#if startDate}}
            {{{date startDate}}} - {{{date endDate}}}
            {{/if}}
          </div>

          {{#if url}}
          <div class="work_website">
            {{{link url}}}
          </div>
          {{else if website}}
          <div class="work_website">
            <a target="_new" href="{{website}}">{{website}}</a>
          </div>
          {{/if}}

          {{#if about}}
          <div class="work_about">
            {{about}}
          </div>
          {{/if}}

       </div>
    </div>
          {{#if summary}}
          <div class="summary">
            {{summary}}
          </div>
          {{/if}}
       <div class="split">
          {{#if highlights}}
          <div class="highlights">
            {{#if highlights.length}}
          <ul class="items">
            {{#each highlights}}
            <li>{{{markdown .}}}</li>
            {{/each}}
          </ul>
          {{/if}}
          </div>
          {{/if}}

         {{#if achievements}}
          <div class="achievements">
            {{#if achievements.length}}
          <ul class="items">
            {{#each achievements}}
            <li>{{{markdown .}}}</li>
            {{/each}}
          </ul>
          {{/if}}
          </div>
          {{/if}}
	</div>
    {{/if}} 
    {{/each}}
  </section>
  {{/if}}



  {{#if resume.work.length}}
  <section id="historic">
    <h2>Historic Work Experience</h2>
    <p>Historic experience has been formatted for effective display</p>
    {{#each resume.work}}
    {{#if historic}}
    <button type="button" class="collapsible"><b>{{company}}</b> - {{position}} ({{{date startDate}}} - {{{date endDate}}})</button>
    <div class="content">

    <div class="split">
        {{#if logo}}
          <div class="logo">
            <img src="{{logo}}" width=200px />
          </div>
          {{/if}}

        <div class="item">
          {{#if name}}
          <h3 class="work_name">
            {{name}}
          </h3>
          {{else if company}}
          <h3 class="work_name">
            {{company}}
          </h3>
          {{/if}}

          {{#if position}}
          <div class="work_position">
            {{position}}
          </div>
          {{/if}}

          <div class="work_date">
            {{#if startDate}}
            {{{date startDate}}} - {{{date endDate}}}
            {{/if}}
          </div>

          {{#if url}}
          <div class="work_website">
            {{{link url}}}
          </div>
          {{else if website}}
          <div class="work_website">
            <a target="_new" href="{{website}}">{{website}}</a>
          </div>
          {{/if}}

          {{#if about}}
          <div class="work_about">
            {{about}}
          </div>
          {{/if}}

       </div>
    </div>
          {{#if summary}}
          <div class="summary">
            {{summary}}
          </div>
          {{/if}}
       <div class="split">
          {{#if highlights}}
          <div class="summary">
            {{#if highlights.length}}
          <ul class="items">
            {{#each highlights}}
            <li>{{{markdown .}}}</li>
            {{/each}}
          </ul>
          {{/if}}
          </div>
          {{/if}}

         {{#if achievements}}
          <div class="achievements">
            {{#if achievements.length}}
          <ul class="items">
            {{#each achievements}}
            <li>{{{markdown .}}}</li>
            {{/each}}
          </ul>
          {{/if}}
          </div>
          {{/if}}
	   </div>
    </div>
	{{/if}}
    {{/each}}
  </section>
  {{/if}}



  {{#if resume.volunteer.length}}
  <section id="volunteer">
    <h2>Volunteer</h2>
    {{#each resume.volunteer}}
    <div class="item">
      {{#if organization}}
      <h3 class="company">
        {{organization}}
      </h3>
      {{/if}}

      <div class="split">
      {{#if position}}
      <div class="work_position">
        {{position}}
      </div>
      {{/if}}

      <div class="work_date">
        {{#if startDate}}
        <span class="startDate">
          {{{date startDate}}}
        </span>
        <span class="endDate">
          - {{{date endDate}}}
        </span>
        {{/if}}
      </div>

      {{#if url}}
      <div class="work_website">
        {{{link url}}}
      </div>
      {{else if website}}
      <div class="work_website">
        <a target="_new" href="{{website}}">{{website}}</a>
      </div>
      {{/if}}
      </div>

      <div class="split">
      {{#if logo}}
      <div class="logo">
        <img src="{{logo}}" width=200px />
      </div>
      {{/if}}

      {{#if summary}}
      <div class="summary">
        <p>{{{markdown summary}}}</p>
        {{#if highlights.length}}
      <ul class="highlights">
        {{#each highlights}}
        <li>{{{markdown .}}}</li>
        {{/each}}
      </ul>
      {{/if}}
      </div>
      {{/if}}


      </div>

    </div>
    {{/each}}
  </section>
  {{/if}}

  {{#if resume.education.length}}
  <section id="education">
    <h2>Education</h2>
    {{#each resume.education}}
    <div class="item">

      <div class="split">
      {{#if institution}}
      <div class="institution">
        {{institution}}
      </div>
      {{/if}}

      <div class="study_date">
        {{#if startDate}}
        <span class="startDate">
          {{{date startDate}}}
        </span>
        <span class="endDate">
          - {{{date endDate}}}
        </span>
        {{/if}}
      </div>


      <div class="study_date">
        {{#if area}}
        <span class="startDate">
          {{area}}
        </span>
        {{/if}}
      </div>      

      {{#if url}}
      <div class="work_website">
        {{{link url}}}
      </div>
      {{/if}}

      </div>

      {{#if qualification}}
      <div class="qualification">
        {{qualification}}
      </div>
      {{/if}}

      {{#if courses.length}}
      <ul class="courses">
        {{#each courses}}
        <li>{{.}}</li>
        {{/each}}
      </ul>
      {{/if}}

      {{#if dissertation}}
      <div class="dissertation">
        <span>Dissertation: </span>{{dissertation}}
      </div>
      {{/if}}
    </div>
    {{/each}}
  </section>
  {{/if}}

  {{#if resume.skills.enabled }}
  {{#if resume.skills.items.length}}
  <section id="skills">
    <h2>Skills</h2>
    {{#each resume.skills.items}}
    <div class="split">
    <div class="item">
      {{#if name}}
      <div class="name">
        {{name}}
      </div>
      {{/if}}
      {{#if level}}
      <div class="level">
        <em>{{level}}</em>
      </div>
      {{/if}}
    </div>
    <div class="item">
      {{#if keywords.length}}
      <ul class="keywords">
        {{#each keywords}}
        <li>{{.}}</li>
        {{/each}}
      </ul>
      {{/if}}
    </div>
    </div>
    {{/each}}
  </section>
  {{/if}}
  {{/if}}



  {{#if resume.languages.length}}
  <section id="languages">
    <h2>Languages</h2>
    <div class="split">
    {{#each resume.languages}}
    <div class="item">
      {{#if language}}
      <div>{{language}}</div>
      {{/if}}
      {{#if fluency}}
      <div class="level">
        <em>{{fluency}}</em>
      </div>
      {{/if}}
    </div>
    {{/each}}
    </div>
  </section>
  {{/if}}

  {{#if resume.interests.enabled }}
  {{#if resume.interests.items.length}}
  <section id="interests">
    <h2>interests</h2>
    {{#each resume.interests.items}}
    <div class="split">
    <div class="item">
      {{#if name}}
      <div class="name">
        {{name}}
      </div>
      {{/if}}
      {{#if level}}
      <div class="level">
        <em>{{level}}</em>
      </div>
      {{/if}}
    </div>
    <div class="item">
      {{#if keywords.length}}
      <ul class="keywords">
        {{#each keywords}}
        <li>{{.}}</li>
        {{/each}}
      </ul>
      {{/if}}
    </div>
    </div>
    {{/each}}
  </section>
  {{/if}}
  {{/if}}


  {{#if resume.references.length}}
  <section id="references">
    <h2>References</h2>
    {{#each resume.references}}
    <div class="item">
      {{#if reference}}
      <blockquote class="reference">
        {{reference}}
      </blockquote>
      {{/if}}
      {{#if name}}
      <div class="name">
        — {{name}}
      </div>
      {{/if}}
    </div>
    {{/each}}
  </section>
  {{/if}}
  </div>


<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>

  </body>
</html>
