<!DOCTYPE html>
{{#if resume.meta.language}}
<html lang="{{resume.meta.language}}">
{{else}}
<html>
{{/if}}

<head>
  {{#if resume.basics.name}}
  <title>{{i18n "title" "name" resume.basics.name}}</title>
  <meta property="og:site_name" content="{{resume.basics.name}}">
  {{else}}
  <title>{{i18n "curriculum-vitae"}}</title>
  {{/if}}

  {{#if resume.basics.summary}}
  <meta name="description" content="{{resume.basics.summary}}">
  <meta property="og:description" content="{{resume.basics.summary}}">
  {{/if}}

  {{#if resume.basics.label}}
  <meta property="og:title" content="{{resume.basics.label}}">
  {{/if}}

  {{#if resume.basics.image}}
  <link href="{{resume.basics.image}}" rel="icon">
  {{/if}}
  {{#if resume.custom.ogImage}}
  <meta property="og:image" content="{{resume.custom.ogImage}}">
  {{#if resume.basics.name}}
  <meta property="og:image:alt" content="{{i18n " avatar-description" "name"
    resume.basics.name}}">
  {{/if}}
  {{/if}}

  {{#if resume.custom.xTwitterHandle}}
  <meta name="twitter:site" content="{{resume.custom.xTwitterHandle}}">
  {{/if}}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="twitter:card" content="summary">
  <meta property="og:type" content="website">

  <style>
    {{{css}}}
  </style>
</head>

<body>

  {{#resume.basics}}
  <header>
    <h1>{{name}}</h1>
    {{#if label}}
    <h2>{{label}}</h2>
    {{/if}}
  </header>

  <div id="content" class="container">
    <section id="basics">
      <div class="contact">
        <h3>{{i18n "contact"}}</h3>
        <div class="split">
          {{#if url}}
          <div class="website">
            <strong>{{i18n "website"}}</strong>

            {{{link url}}}
          </div>
          {{/if}}
          {{#if email}}
          <div class="email">
            <strong>{{i18n "email"}}</strong>
            <a href="mailto:{{email}}">{{email}}</a>
          </div>
          {{/if}}
          {{#if phone}}
          <div class="phone">
            <strong>{{i18n "phone"}}</strong>
            <a href="tel:{{phone}}">{{phone}}</a>
          </div>
          {{/if}}
        </div>
      </div>
      {{#if summary}}
      <div class="summary">
        <h3>{{i18n "about"}}</h3>
        <p>{{{markdown summary}}}</p>
      </div>
      {{/if}}
      {{#if profiles.length}}
      <section id="profiles" class="split">
        {{#each profiles}}
        <div class="item">
          {{#if network}}
          <strong class="network">
            {{network}}
          </strong>
          {{/if}}
          <div class="username">
            {{#if url}}
            <a href="{{url}}">
              {{#if username}}
              {{username}}
              {{else}}
              {{url}}
              {{/if}}
            </a>
            {{else}}
            {{username}}
            {{/if}}
          </div>
        </div>
        {{/each}}
      </section>
      {{/if}}
    </section>
    {{/resume.basics}}

    {{#if resume.work.length}}
    <section id="work">
      <h2>{{i18n "work-experience"}}</h2>
      {{#each resume.work}}
      <div class="item">
        {{#if name}}
        <h3 class="work_name">
          {{name}}
        </h3>
        {{/if}}

        <div class="split">
          {{#if position}}
          <div class="work_position">
            {{position}}
          </div>
          {{/if}}

          <div class="work_date">
            {{#if startDate}}
            {{{date startDate}}} - {{{date endDate}}}
            {{/if}}
          </div>

          {{#if url}}
          <div class="work_website">
            {{{link url}}}
          </div>
          {{/if}}
        </div>

        {{#if summary}}
        <div class="summary">
          <p>{{{markdown summary}}}</p>
        </div>
        {{/if}}
        {{#if highlights.length}}
        <ul class="highlights">
          {{#each highlights}}
          <li>{{{markdown .}}}</li>
          {{/each}}
        </ul>
        {{/if}}
      </div>
      {{/each}}
    </section>
    {{/if}}

    {{#if resume.volunteer.length}}
    <section id="volunteer">
      <h2>{{i18n "volunteer"}}</h2>
      {{#each resume.volunteer}}
      <div class="item">
        {{#if organization}}
        <h3 class="company">
          {{organization}}
        </h3>
        {{/if}}

        <div class="split">
          {{#if position}}
          <div class="work_position">
            {{position}}
          </div>
          {{/if}}

          <div class="work_date">
            {{#if startDate}}
            <span class="startDate">
              {{{date startDate}}}
            </span>
            <span class="endDate">
              - {{{date endDate}}}
            </span>
            {{/if}}
          </div>

          {{#if url}}
          <div class="work_website">
            {{{link url}}}
          </div>
          {{/if}}
        </div>

        {{#if summary}}
        <div class="summary">
          <p>{{{markdown summary}}}</p>
        </div>
        {{/if}}
        {{#if highlights.length}}
        <ul class="highlights">
          {{#each highlights}}
          <li>{{{markdown .}}}</li>
          {{/each}}
        </ul>
        {{/if}}
      </div>
      {{/each}}
    </section>
    {{/if}}

    {{#if resume.projects.length}}
    <section id="projects">
      <h2>{{i18n "projects"}}</h2>
      {{#each resume.projects}}
      <div class="item">
        {{#if name}}
        <h3 class="project_name">
          {{#if url}}
          <a href="{{url}}" target="_blank"
            rel="noopener noreferrer">{{name}}</a>
          {{else}}
          {{name}}
          {{/if}}
        </h3>
        {{/if}}

        <div class="split">
          {{#if entity}}
          <div class="project_entity">
            {{entity}}
          </div>
          {{/if}}
          <div class="project_date">
            {{#if startDate}}
            {{#if endDate}}
            {{{date startDate}}} - {{{date endDate}}}
            {{else}}
            {{{date startDate}}}
            {{/if}}
            {{/if}}
          </div>
        </div>

        {{#if description}}
        <div class="summary">
          <p>{{{markdown description}}}</p>
        </div>
        {{/if}}
        {{#if highlights.length}}
        <ul class="highlights">
          {{#each highlights}}
          <li>{{{markdown .}}}</li>
          {{/each}}
        </ul>
        {{/if}}
      </div>
      {{/each}}
    </section>
    {{/if}}

    {{#if resume.education.length}}
    <section id="education">
      <h2>{{i18n "education"}}</h2>
      {{#each resume.education}}
      <div class="item">

        <div class="split">
          {{#if institution}}
          <div class="institution">
            {{institution}}
          </div>
          {{/if}}

          <div class="study_date">
            {{#if startDate}}
            <span class="startDate">
              {{{date startDate}}}
            </span>
            <span class="endDate">
              - {{{date endDate}}}
            </span>
            {{/if}}
          </div>

          {{#if url}}
          <div class="work_website">
            {{{link url}}}
          </div>
          {{/if}}
        </div>

        {{#if qualification}}
        <div class="qualification">
          {{qualification}}
        </div>
        {{/if}}

        {{#if courses.length}}
        <ul class="courses">
          {{#each courses}}
          <li>{{.}}</li>
          {{/each}}
        </ul>
        {{/if}}

        {{#if dissertation}}
        <div class="dissertation">
          <span>{{i18n "dissertation" "text" dissertation}}</span>
        </div>
        {{/if}}
      </div>
      {{/each}}
    </section>
    {{/if}}

    {{#if resume.skills.length}}
    <section id="skills">
      <h2>{{i18n "skills"}}</h2>
      {{#each resume.skills}}
      <div class="item">
        {{#if name}}
        <div class="name">
          {{name}}
        </div>
        {{/if}}
        {{#if level}}
        <div class="level">
          <em>{{level}}</em>
        </div>
        {{/if}}
        {{#if keywords.length}}
        <ul class="keywords">
          {{#each keywords}}
          <li>{{.}}</li>
          {{/each}}
        </ul>
        {{/if}}
      </div>
      {{/each}}
    </section>
    {{/if}}

    {{#if resume.languages.length}}
    <section id="languages">
      <h2>{{i18n "languages"}}</h2>
      {{#each resume.languages}}
      <div class="item">
        {{#if language}}
        <div>{{language}}</div>
        {{/if}}
        {{#if fluency}}
        <div class="level">
          <em>{{fluency}}</em>
        </div>
        {{/if}}
      </div>
      {{/each}}
    </section>
    {{/if}}

    {{#if resume.interests.length}}
    <section id="interests">
      <h2>{{i18n "interests"}}</h2>
      {{#each resume.interests}}
      <div class="item">
        {{#if name}}
        <div class="name">
          {{name}}
        </div>
        {{/if}}
        {{#if keywords.length}}
        <ul class="keywords">
          {{#each keywords}}
          <li>{{.}}</li>
          {{/each}}
        </ul>
        {{/if}}
      </div>
      {{/each}}
    </section>
    {{/if}}

    {{#if resume.references.length}}
    <section id="references">
      <h2>{{i18n "references"}}</h2>
      {{#each resume.references}}
      <div class="item">
        {{#if reference}}
        <blockquote class="reference">
          {{reference}}
        </blockquote>
        {{/if}}
        {{#if name}}
        <div class="name">
          — {{name}}
        </div>
        {{/if}}
      </div>
      {{/each}}
    </section>
    {{/if}}
  </div>
</body>

</html>
