<div class="item">
  <div class="item-header">
    <h3>
      <span>{{position}}</span>
      {{#if name}}
      <span class="item-subheading">
        {{i18n i18n-key "name" name}}
        {{#if url}}
        • {{{link url}}}
        {{/if}}
      </span>
      {{/if}}
    </h3>
    {{> date isEndDateRequired=isEndDateRequired}}
  </div>

  {{#if summary}}
  <p>{{{markdown summary}}}</p>
  {{/if}}
  {{#if highlights.length}}
  <ul>
    {{#each highlights}}
    <li>{{{markdown .}}}</li>
    {{/each}}
  </ul>
  {{/if}}
</div>
